<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="sidebar">
        <a href="{% url 'tasks:task-list' %}">Home</a>
        <a href="{% url 'tasks:tag-list' %}">Tags</a>
    </div>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
